.calCombination {
    padding: 20px;
    width: 400px;
    height: 500px;
}

input {
    margin: 10px 5px;
    height: 25px;
    width: 150px;
}

#numbers {
    margin: 10px;
    word-break: break-all;
    height: 80px;
    width: 250px;
}

button {
    margin: 15px
    height: 25px;
    width: 50px;
}

#calculateBtn {
    margin: 10px;
    height: 50px;
    width: 100px;
}

#result {
    margin: 10px;
    word-break: break-all;
    width: 250px;
}